.nav-item {
  font-size: 25px;
}

.navbar-nav .nav-link {
  margin-right: 7px;
  margin-left: 7px;
}

body {
  font-family: 'Google Sans', sans-serif;
}

* {
  font-family: inherit;
  /* Ensure all elements inherit the default font */
}

.footer a {
  /*font-size: 25px;*/
  color: #000;
}

.large-font {
  font-size: 25px;
}

.link-block a {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 1rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {}

.publication-title {
  font-family: 'Google Sans', sans-serif;
}

.publication-authors {
  font-family: 'Google Sans', sans-serif;
}

.publication-venue {
  color: #555;
  width: fit-content;
  font-weight: bold;
}

.publication-awards {
  color: #ff3860;
  width: fit-content;
  font-weight: bolder;
}

.publication-authors {}

.publication-authors a {
  color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
  text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
  position: relative;
  width: 70%;
  height: 0;
  padding-bottom: 50.0%;
  margin: auto;
  overflow: hidden;
  border: 2px solid #bbb;
  border-radius: 10px !important;
}

.publication-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.publication-body img {}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}

#interpolation-image-wrapper img {
  border-radius: 5px;
}

.bottom_buttons[disabled] {
  opacity: .4;
}

.brmod {
  display: block;
  margin-top: 0.5em;
}


.task-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px;
}




.task-title {
  font-family: 'Google Sans', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;

}

.task-play-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #C41230 !important;
  border-color: #C41230 !important;
  color: white !important;
  font-weight: bold;
  border-radius: 10px !important;
}




/* .task-play-button:focus, 
.task-play-button:active {
    outline: 3px solid #69b3e7    !important;
    border-color: #69b3e7    !important;
} */

.task-play-button:focus,
.task-play-button:active {
  outline: none !important;
  box-shadow: none !important;
}

.floating-menu {
  position: fixed;
  top: 50px;
  left: 20px;
  width: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.floating-menu ul {
  list-style-type: none;
  padding: 0;
}

.floating-menu a {
  text-decoration: none;
  color: grey;
}

.floating-menu a:hover {
  color: #1484cd;
}

.burger-button {
  background-color: #00bfff;
  color: white;
  border: none;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: left;
}

.topnav {
  position: fixed;
  top: 10px;
  left: 20px;
  z-index: 1000;
}

.menu_icon {
  background-color: transparent;
  color: #333;
  border: none;
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: absolute;
  left: 0;
  margin-left: 10px;
  width: 200px;
}

.dropdown-menu a {
  text-decoration: none;
  color: grey;
  padding: 5px 10px;
  display: block;
}

.dropdown-menu a:hover {
  color: #333;
}


/* Hide Mobile Version by Default */
.results-mobile {
  display: none;
}

/* Hide Desktop Version and Show Mobile Version on Small Screens */
@media screen and (max-width: 768px) {
  .results-desktop {
    display: none;
  }

  .results-mobile {
    display: block;
  }
}





@media (max-width: 768px) {
  .row {
    width: 100% !important;
    flex-direction: column;
    /* Ensures stacking on mobile */
    align-content: center;
  }

  .row>div {
    width: 100% !important;
    /* Ensures full width for inner divs */
    padding-left: 20px;
    padding-right: 0px;
    border-right: none !important;
    /* Removes border to avoid cutoffs */
  }
}